html {
  font-size: 62.5%;
}

html,
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 10;

  @media (max-width: 768px) {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: white;
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #ccc;
    transition: transform 0.3s ease-in-out;
  }
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #7a7676;
}

.logo__image {
  width: 14rem;
  height: 7rem;

  @media (max-width: 768px) {
    width: 10rem;
    height: 5rem;
  }
}

.menu-toggle {
  display: none;
  font-size: 2.4rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  @media (max-width: 768px) {
    display: block;
  }
}

main img {
  width: 100%;
  object-fit: fill;
  max-height: 600px;

  @media (max-width: 768px) {
    max-height: 650px;
  }
}

.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider__slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider--slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slider--slide img {
  width: 100%;
  display: block;
  filter: brightness(90%);
}

.dots {
  text-align: center;
  position: absolute;
  margin-bottom: 50px;
  bottom: 10px;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(193, 186, 186, 0.8);
  border: 1px solid rgba(193, 186, 186, 0.8);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.active,
.dot:hover {
  background-color: rgba(229, 223, 223, 0.8);
}

.card-container {
  margin: 20px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: 768px) {
    margin: 20px 10px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.card {
  border-radius: 5px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border: none;
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
}

.card:hover {
  transform: scale(0.97);
  border: none;
}

.card > img {
  min-height: 350px;

  @media (max-width: 768px) {
    min-height: 250px;
  }
}

.card > h2 {
  margin: 15px;
  font-size: 1.8rem;
}

.card > p {
  margin: 15px;
  font-size: 1.4rem;
}

footer {
  padding: 40px;
  background-color: #212121;
  color: white;
  min-height: 60px;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer__label {
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.footer__ul {
  list-style: none;
  font-size: 14px;
  padding-left: 0px;

  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.bottom-detail {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.copyright {
  font-size: 1.2rem;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.linkedin-img {
  margin-top: -8px;
}

@media (max-width: 768px) {
  .nav-menu.open-menu {
    display: flex;
  }

  .nav-menu li {
    padding: 5px 0;
  }

  .footer__ul li {
    max-width: 100px;
    word-wrap: break-word;
    white-space: normal;
  }

  .nav-menu li:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease-in-out;
  }
}
